<% provide(:title, 'New game') %>
<h1>New game</h1>

<div>
  <%= form_for(@game) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label "Name" %>
    <%= f.text_field :player_name %>

    <%= f.label "Email" %>
    <%= f.text_field :player_email %>

    <%= f.submit "Start game" %>
  <% end %>
</div>